<header class="w-100 dark">
    <a class="logo" href="/">CD Commerce</a>
    <nav class="navbar navbar-expand-lg">
        <button type="button" class="btn btn-warning">
            <a href="/products">Volver</a>
        </button>
        <button type="button" class="btn btn-warning" id="sign-out">
            Cerrar sesión
        </button>
    </nav>
</header>

<main class="cart-main">
    
    <h1>Carrito de compras:</h1>

    <div class="products-main">

        {{#each cart.products}}
            <div class="product-container">
                <ul>
                    <li><h2>{{this.product.title}} ({{this.product.year}})</h2></li>
                    <li><b>Precio unitario: </b>${{this.product.price}}</li>
                    <li><b>Cantidad: </b> {{this.quantity}}</li>
                    <li><h3>Precio total: <b> ${{this.totalPrice}} </b></h3></li>
                </ul>
            <button type="button" class="btn btn-warning delete-product" product-id="{{this.product._id}}">
                Eliminar
            </button>
            </div>
        {{/each}}

    </div>

    <div class="cart-price">
        <h2>Precio total: ${{cart.cartPrice}}</h2>
        {{#if cart.products}}
            <button type="button" class="btn btn-warning" id="buy-cart" onclick="redirect('/tickets/purchase')">
                <b>Finalizar compra</b>
            </button>
            <button type="button" id="delete-cart" class="btn btn-secondary">
                Vaciar carrito
            </button>
        {{/if}}
    </div>

</main>

<script src="/js/cart.js"></script>

<script src="/js/signout.js"></script>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>