<header class="w-100 dark">
    <a class="logo" href="/">CD Commerce</a>
    <nav class="navbar navbar-expand-lg">
        <button type="button" class="btn btn-warning">
            <a href="/products">Volver</a>
        </button>
        <button type="button" class="btn btn-warning" id="sign-out">
            Cerrar sesión
        </button>
    </nav>
</header>

<main class="create-main">

    <h1>Modificar {{product.title}}</h1>

    <form id="editProductForm" product-id="{{product._id}}">
        <label for="title">Título:</label>
            <input type="text" name="title" id="title" value="{{product.title}}">
        <label for="description">Descripción:</label>
            <input type="text" name="description" id="description" value="{{product.description}}">
        <label for="year">Año:</label>
            <input type="number" name="year" id="year" value={{product.year}}>
        <label for="price">Precio:</label>
            <input type="number" name="price" id="price" value={{product.price}}> 
        <label for="stock">Stock:</label>
            <input type="number" name="stock" id="stock" value={{product.stock}}>
        <label for="category">Categoría:</label>
        <select name="category" id="category" category="{{product.category}}">
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Jazz">Jazz</option>
            <option value="Latin">Latin</option>
            <option value="Metal">Metal</option>
            <option value="Electro">Electro</option>
            <option value="Pop">Pop</option>
        </select>

        <input class='btn btn-warning' type="submit" id="submit" value="Actualizar producto">
    </form>
</main>

<script src="/js/editProduct.js"></script>

<script src="/js/signout.js"></script>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>