<div class="bienvenida">
    {{#if admin}}
    <img class="admin" src="https://i.pinimg.com/736x/b1/92/c7/b192c70d750d0700becf81b1ccc9e2a6.jpg">
    {{/if}}
<h1>Bienvenido/a {{name}} {{surname}}, aquí está la lista de productos</h1>
<button class="grey-button" onclick="redirect('http://localhost:8080/logout')" >Cerrar sesión</button>
</div>

<div class="listContainer">
{{#each products}}
    <div class="productContainer">
        <ul>
            <li><h2>{{this.title}} ({{this.year}})</h2></li>
            <li><b>Artista: </b>{{this.description}}</li>
            <li><b>Precio: </b>${{this.price}}</li>
            <li><b>Categoría: </b>{{this.category}}</li>
            <li><b>Stock: </b>{{this.stock}}</li>
            <li><b>Code: </b>{{this.code}}</li>
        </ul>
        <button class="blue-button">Agregar al carrito</button>
    </div>
{{/each}}

</div>

<script>
    function redirect(url) {
        window.location.href = url
    }
</script>